:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: regular;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: "M23";
  src: url('m23-r.ttf');
}
@font-face {
  font-family: "M23";
  src: url("m23-r.ttf");
}

@font-face {
  font-family: "Hard Drive";
  src: url("hard-drve.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Teko";
  src: url("https://fonts.googleapis.com/css2?family=Teko:wght@300;500;700&display=swap");
}